---
http_interactions:
- request:
    method: post
    uri: https://identitytoolkit.googleapis.com/v1/accounts:update?key=<redacted-key>
    body:
      encoding: UTF-8
      string: '{"idToken":"<redacted-key>","displayName":"John Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "identitytoolkit#SetAccountInfoResponse",
          "localId": "vd8u82fhFDPiaseMoAaMEIIKoUE3",
          "email": "test4@test.com",
          "displayName": "John Doe",
          "providerUserInfo": [
            {
              "providerId": "password",
              "displayName": "John Doe",
              "federatedId": "test4@test.com",
              "email": "test4@test.com",
              "rawId": "test4@test.com"
            }
          ],
          "passwordHash": "UkVEQUNURUQ=",
          "emailVerified": false
        }
  recorded_at: Tue, 09 Feb 2021 06:54:18 GMT
recorded_with: VCR 6.0.0
