---
http_interactions:
- request:
    method: post
    uri: https://identitytoolkit.googleapis.com/v1/accounts:update?key=<redacted-key>
    body:
      encoding: UTF-8
      string: '{"idToken":"<redacted-key>","displayName":"John Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "INVALID_ID_TOKEN",
            "errors": [
              {
                "message": "INVALID_ID_TOKEN",
                "domain": "global",
                "reason": "invalid"
              }
            ]
          }
        }
  recorded_at: Tue, 09 Feb 2021 06:54:18 GMT
recorded_with: VCR 6.0.0
