---
http_interactions:
- request:
    method: post
    uri: https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=AIzaSyAX6dyB5TKhUB8RUu7LoxD55HGBtTkO5Gk
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","password":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "WEAK_PASSWORD : Password should be at least 6 characters",
            "errors": [
              {
                "message": "WEAK_PASSWORD : Password should be at least 6 characters",
                "domain": "global",
                "reason": "invalid"
              }
            ]
          }
        }
  recorded_at: Mon, 08 Feb 2021 05:13:39 GMT
recorded_with: VCR 6.0.0
