---
http_interactions:
- request:
    method: post
    uri: https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=<redacted-key>
    body:
      encoding: UTF-8
      string: '{"email":"foo@shouldnotbehere.net","password":"password","returnSecureToken":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "EMAIL_NOT_FOUND",
            "errors": [
              {
                "message": "EMAIL_NOT_FOUND",
                "domain": "global",
                "reason": "invalid"
              }
            ]
          }
        }
  recorded_at: Sun, 14 Mar 2021 17:59:37 GMT
recorded_with: VCR 6.0.0
