---
http_interactions:
- request:
    method: post
    uri: https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=<redacted-key>
    body:
      encoding: UTF-8
      string: '{"email":"test@test.com","password":"password","returnSecureToken":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "identitytoolkit#VerifyPasswordResponse",
          "localId": "O5Cexc5ufDSWIFsRtUkOoSGu2Pj2",
          "email": "test@test.com",
          "displayName": "",
          "idToken": "<redacted-key>",
          "registered": true,
          "refreshToken": "<redacted-key>",
          "expiresIn": "3600"
        }
  recorded_at: Sun, 14 Mar 2021 17:58:12 GMT
recorded_with: VCR 6.0.0
